<div [formGroup]="form">
<div class="ui-grid-row">
  <div class="ui-grid-col-3">
    <h3>Owner</h3>
    <input id="proprietario" type="text"  formControlName="proprietario" pInputText  />
    <div *ngIf="form.controls['proprietario'].hasError('required') && form.controls['proprietario'].touched" class="alert alert-danger">Você deve informar o proprietario.</div>
  </div>
<div class="ui-grid-col-3">
    <h3>Status</h3>
    <p-dropdown [options]="status.status" formControlName="status"></p-dropdown>
  </div>
</div>
<div class="ui-grid-row">
<div class="ui-grid-col-3">
  <h3>Data de Vencimento</h3>
  <p-inputMask  formControlName="data_de_vencimento" mask="99/99/9999"></p-inputMask>
  <div *ngIf="form.controls['data_de_vencimento'].hasError('required') && form.controls['data_de_vencimento'].touched" class="alert alert-danger">Você deve informar o data de vencimento.</div> 
</div>
<div class="ui-grid-col-3">
  <h3>Valor</h3>
  <input id="valor" type="text" formControlName="valor" pInputText  />
  <div *ngIf="form.controls['valor'].hasError('required') && form.controls['valor'].touched" class="alert alert-danger">Você deve informar o valor.</div>
</div>
</div>
<div class="ui-grid-row">
<br>
<div class="ui-grid-col-3">
   <button type="button" [disabled]="!form.valid" (click)="onSubmit()"class="btn btn-primary">Salvar</button>
</div>
</div>
</div>